* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
 --primary-color: #80d1f7;
 --primary-dark: #003f5c;
}

/* navbar */
.navbar-nav {
 margin-left: auto;
}
.navbar {
    background: var(--primary-dark) !important;
  padding: 1rem;
 z-index: 9999;
 width: 100%;
 position: fixed;
}
.navbar-dark .navbar-nav .nav-link {
 color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
 color: var(--primary-color);
}


/* vision section  */

.content_cont{
    position: relative;
    margin: 15rem 0 10rem 0;
}
.wrapper {
    overflow-x: hidden;
}

.director_img{
    margin: auto;
}

.content_cont h2 {
    color: #111;
    font-size: 3.7rem;
    font-weight: 700;
    line-height: 1.4;
}
.content_cont p {
    color: #111;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.8;
}

@media screen and (max-width:768px){
    
    .content_cont{
        position: relative;
        margin: 10rem 0 7rem 1rem;
    }
    .content_cont h2 {
        color: #111;
        font-size: 3rem;
        font-weight: 700;
        line-height: 1.4;
    }
    .content_cont p {
        color: #111;
        font-size: 0.8rem;
        font-weight: 500;
        line-height: 1.8;
    }
}
@media screen and (max-width:426px){
    
    .content_cont h2 {
        text-align: center;
        padding: .5rem;
        font-size: 3rem;
        line-height: 1;
    }
    .content_cont p {
        text-align: center;
        padding: .5rem;
        font-size: 0.8rem;
        line-height: 2;
    }
    

}

/* footer */

.site-footer
{
 background-color:var(--primary-dark);
 padding:45px 0 20px;
 font-size:15px;
 line-height:24px;
 color:#737373;
}
.site-footer hr
{
 border-top-color:rgb(224, 224, 224);
 opacity:0.8;
}
.site-footer hr.small
{
 margin:20px 0
}
.site-footer h6
{
 color:#fff;
 font-size:1.7rem;
 font-weight: 700;
 text-transform:uppercase;
 margin-top:5px;
 letter-spacing:2px
}
.site-footer p{
 color: rgb(185, 185, 185);
}

.flex-cont {
   display: flex;
   justify-content: baseline;
   align-items: baseline;
}

.flex-cont .lower{
   text-transform: lowercase;
}

.site-footer a
{
 color:#ffffff;
}
.site-footer a:hover
{
 color:var(--primary-color);
 text-decoration:none;
}
.footer-links
{
 padding-left:0;
 list-style:none
}
.footer-links li
{
 display:block
}
.footer-links a
{
text-decoration: none;
 color:rgb(255, 255, 255);
 transition: 0.3s;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
 color:var(--primary-color);
 text-decoration:none;
}
.footer-links.inline li
{
 display:inline-block;
}
.site-footer .social-icons
{
 text-align:right;
}
.site-footer .social-icons a
{
 width:40px;
 height:40px;
 line-height:40px;
 margin-left:6px;
 margin-right:0;
 border-radius:100%;
 background-color:var(--primary-color);
}
.copyright-text
{
 margin:0;
}
@media (max-width:991px)
{
 .site-footer [class^=col-]
 {
   margin-bottom:30px;
 }
}
@media (max-width:767px)
{
 .site-footer
 {
   padding-bottom:0;
 }
 .site-footer .copyright-text,.site-footer .social-icons
 {
   text-align:center;
 }
}
.social-icons
{
 padding-left:0;
 margin-bottom:0;
 list-style:none
}
.social-icons li
{
 display:inline-block;
 margin-bottom:4px
}
.social-icons li.title
{
 margin-right:15px;
 text-transform:uppercase;
 color:#96a2b2;
 font-weight:700;
 font-size:13px
}
.social-icons a{
 background-color:#111;
 color:#111;
 font-size:16px;
 display:inline-block;
 line-height:44px;
 width:44px;
 height:44px;
 text-align:center;
 margin-right:8px;
 border-radius:100%;
 -webkit-transition:all .2s linear;
 -o-transition:all .2s linear;
 transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
 color:#fff;
}
.social-icons.size-sm a
{
 line-height:34px;
 height:34px;
 width:34px;
 font-size:14px
}
.social-icons a.facebook:hover
{
 background-color:#3b5998;
}
.social-icons a.twitter:hover
{
 background-color:#00aced;
}
.social-icons a.linkedin:hover
{
 background-color:#007bb6;
}
.social-icons a.website:hover
{
 background-color: var(--primary-color);
}
@media (max-width:768px)
{
 .social-icons li.title
 {
   display:block;
   margin-right:0;
   font-weight:600
 }
}

